*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: url('https://source.unsplash.com/featured/?ocean,ruins') no-repeat center center/cover;
  background-attachment: fixed;
}

body {
  height: 100%;
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  width: 100%;
}